
html, body {
  margin: 0;
  overflow-x: hidden !important;
  font-size: calc(10.6666666667px + 5.3333333333 * (100vw - 1280px) / 640);
  line-height: calc(16px + 8 * (100vw - 1280px) / 640);
  font-weight: 400;
  position: relative;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}
  

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}


.main {
  height: 100vh;
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(26.6666666667px + 13.3333333333 * (100vw - 1280px) / 640);
  background-color: #222222;
  padding: calc(106.6666666667px + 53.3333333333 * (100vw - 1280px) / 640) calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}

h1, h2, h3, p {
  margin: 0;
  display: block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  padding: 0 calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}

ul {
  list-style: none;
}

.header__list {
  display: flex;
  align-items: center;
  gap: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
  margin-left: auto;
}

.header__list li a{
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  transition: border-color .3s;
  border-bottom: 1px solid transparent;
}

.header__list li a:hover {
  border-bottom: 1px solid #ffffff;
}

/* calc(12px + 6 * (100vw - 1280px) / 640) */

.decorate-text {
  width: calc(146.6666666667px + 73.3333333333 * (100vw - 1280px) / 640);
  position: absolute;
  bottom: calc(40px + 20 * (100vw - 1280px) / 640);
  right: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
  color: #ffffff;
}

.button-scroll {
  position: absolute;
  bottom: calc(40px + 20 * (100vw - 1280px) / 640);
  left: calc(66.6666666667px + 33.3333333333 * (100vw - 1280px) / 640);
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: calc(5.3333333333px + 2.6666666667 * (100vw - 1280px) / 640);
  border-bottom: 1px solid transparent;
  transition: border-color .3s;
}
.button-scroll:hover {
  border-color: #ffffff;
}
.button-scroll p{ 
  bottom: calc(40px + 20 * (100vw - 1280px) / 640);
  left: calc(66.6666666667px + 33.3333333333 * (100vw - 1280px) / 640);
  color: #ffffff;
}

.h1 {
  font-size: calc(77.3333333333px + 38.6666666667 * (100vw - 1280px) / 640);
  line-height: calc(88px + 44 * (100vw - 1280px) / 640);
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

.h2 {
  font-size: calc(21.3333333333px + 10.6666666667 * (100vw - 1280px) / 640);
  line-height: calc(26.6666666667px + 13.3333333333 * (100vw - 1280px) / 640);
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.h3 {
  font-size: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
  line-height: calc(18.6666666667px + 9.3333333333 * (100vw - 1280px) / 640);
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}


.main__info {
  display: flex;
  align-items: center;
  gap: calc(40px + 20 * (100vw - 1280px) / 640);
}

.main__info-el p {
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(32px + 16 * (100vw - 1280px) / 640);
  line-height: calc(36px + 18 * (100vw - 1280px) / 640);
}
.main__info-el span {
  color: #ffffff;
  font-weight: 400;
  font-size: calc(10.6666666667px + 5.3333333333 * (100vw - 1280px) / 640);
  line-height: calc(16px + 8 * (100vw - 1280px) / 640);
}

.main__left {
  width: calc(493.3333333333px + 246.6666666667 * (100vw - 1280px) / 640);
  display: flex;
  flex-direction: column;
  margin-left: calc(46.6666666667px + 23.3333333333 * (100vw - 1280px) / 640);
  gap: calc(26.6666666667px + 13.3333333333 * (100vw - 1280px) / 640);
} 

.main__right {
  display: flex;
  height: 100%;
  gap: calc(26.6666666667px + 13.3333333333 * (100vw - 1280px) / 640);
} 

.main__right-item {
  width: calc(146.6666666667px + 73.3333333333 * (100vw - 1280px) / 640);
  height: calc(146.6666666667px + 73.3333333333 * (100vw - 1280px) / 640);
}

.main__right-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .3s;
}
.main__right-item img:hover{
  transform: scale(1.10);
} 

.main__right-item:nth-child(1) {
  align-self: center;
} 

.main__right-item:nth-child(2) {
  height: max-content;
  width: calc(186.6666666667px + 93.3333333333 * (100vw - 1280px) / 640);
}

.about {
  background-color: #ffffff;
  width: 100%;
  padding: calc(40px + 20 * (100vw - 1280px) / 640) calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}

.about__list {
  display: grid;
  gap: calc(26.6666666667px + 13.3333333333 * (100vw - 1280px) / 640);
  grid-template-columns: repeat(3, 1fr);
}

.about__list-el {
  display: flex;
  flex-direction: column;
  gap: calc(26.6666666667px + 13.3333333333 * (100vw - 1280px) / 640);
}

.about__list-el img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.packages {
  padding: calc(40px + 20 * (100vw - 1280px) / 640) calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
  background-color: #ffffff;
}

.packages-decorate {
  font-style: italic;
  font-weight: 400;
  margin-bottom: calc(8px + 4 * (100vw - 1280px) / 640);
}

.packages-price {
  margin-top: calc(8px + 4 * (100vw - 1280px) / 640);
  font-size: calc(10.6666666667px + 5.3333333333 * (100vw - 1280px) / 640);
  line-height: calc(16px + 8 * (100vw - 1280px) / 640);
  color: #222222;
  text-transform: uppercase;
  font-weight: 600;
}

.packages__list {
  margin-top: calc(26.6666666667px + 13.3333333333 * (100vw - 1280px) / 640);
  display: grid;
  gap: calc(26.6666666667px + 13.3333333333 * (100vw - 1280px) / 640);
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
}

.packages__list-el {
  padding: calc(16px + 8 * (100vw - 1280px) / 640);
  border: 1px solid #222222;
  display: flex;
  transition: border-color .3s;
  flex-direction: column;
  justify-content: space-between;
  height: calc(333.3333333333px + 166.6666666667 * (100vw - 1280px) / 640);
}

.packages__list-el:hover {
  border-color: #FF3C3C;
}

.packages__list-el:hover .price-button{
  background-color: #FF3C3C;
}

.packages__list-el .h3{
  color: #222222;
  font-weight: 600;
  font-size: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
  line-height: calc(18.6666666667px + 9.3333333333 * (100vw - 1280px) / 640);
}

.packages h2{
  margin-bottom: calc(8px + 4 * (100vw - 1280px) / 640);
}

.packages__info {
  display: flex;
  flex-direction: column;
  margin-top: calc(8px + 4 * (100vw - 1280px) / 640);
  gap: calc(2.6666666667px + 1.3333333333 * (100vw - 1280px) / 640);
}

.packages__info-el span{
  width: calc(4px + 2 * (100vw - 1280px) / 640);
  height: calc(4px + 2 * (100vw - 1280px) / 640);
  background-color: #222222;
}

.packages__info-el{
  display: flex;
  align-items: center;
  gap: calc(4px + 2 * (100vw - 1280px) / 640);
}

.packages__info h3{
  text-transform: unset;
  font-weight: 400 !important;
}

.price-button {
  transition: background-color .3s;
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #222222;
  padding: calc(12px + 6 * (100vw - 1280px) / 640) calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}

.accordeon {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding: calc(40px + 20 * (100vw - 1280px) / 640) calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}
.accordeon p{
  color: #ffffff;
}
.accordeon .h2{
  color: #ffffff;
  margin-bottom: calc(8px + 4 * (100vw - 1280px) / 640);
}

.accordeon__block {
  width: calc(453.3333333333px + 226.6666666667 * (100vw - 1280px) / 640);
}

.accordion-item {
  cursor: pointer;
}

.accordion-item.first {
  margin-top: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}

.accordion-header h3{
  transition: color .3s;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(12px + 6 * (100vw - 1280px) / 640);
  padding-bottom: calc(12px + 6 * (100vw - 1280px) / 640);
  /* border-bottom: 1px solid #ffffff; */
  border-top: 1px solid #ffffff;
}

.accordion-item.first{
  margin-top: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content p {
  padding-bottom: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}

.accordion-item.first .accordion-header img {
  transform: rotate(45deg);
}

.accordion-header:hover .h3 {
  color: #000;
}

.accordion-item.active .accordion-content {
  max-height: 1000px;
}

.accordion-item.active .accordion-header img {
  transform: rotate(45deg);
}

.form-block {
  padding: calc(26.6666666667px + 13.3333333333 * (100vw - 1280px) / 640) calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}
.form-block h3{
  margin-bottom: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
  color: #222222;
  text-align: center;
  font-weight: 500;
  font-size: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
  line-height: calc(18.6666666667px + 9.3333333333 * (100vw - 1280px) / 640);
}

.form-block form {
  display: flex;
  justify-content: center;
  gap: calc(5.3333333333px + 2.6666666667 * (100vw - 1280px) / 640);
}
.form-block form button{
  width: calc(133.3333333333px + 66.6666666667 * (100vw - 1280px) / 640);
}

.form-group {
  position: relative;
  width: calc(253.3333333333px + 126.6666666667 * (100vw - 1280px) / 640);
}

.form-group input {
  width: 100%;
  padding: calc(12px + 6 * (100vw - 1280px) / 640) calc(8px + 4 * (100vw - 1280px) / 640);
  border: 1px solid #ddd;
  text-transform: uppercase;
  font-size: calc(10.6666666667px + 5.3333333333 * (100vw - 1280px) / 640);
  line-height: calc(16px + 8 * (100vw - 1280px) / 640);
  width: 100%;
}

.form-group label {
  text-transform: uppercase;
  position: absolute;
  top: calc(12px + 6 * (100vw - 1280px) / 640);
  left: calc(8px + 4 * (100vw - 1280px) / 640);
  font-size: calc(10.6666666667px + 5.3333333333 * (100vw - 1280px) / 640);
  line-height: calc(16px + 8 * (100vw - 1280px) / 640);
  color: #666;
  pointer-events: none;
  transition: 0.2s ease all;
}

.footer {
  padding: calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640) 0;
  background-color: #222222;
}

.footer__list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__list a{
  text-transform: uppercase;
  transition: border-color .3s;
  border: 1px solid transparent;
  padding: calc(12px + 6 * (100vw - 1280px) / 640) calc(13.3333333333px + 6.6666666667 * (100vw - 1280px) / 640);
}
.footer__list a:hover {
  border: 1px solid #ffffff;
}

@media only screen and (max-width: 767px) {

  html, body {
    font-size: 16px;
    line-height: 24px;
  }

  .h1 {
    font-size: 56px;
    line-height: 64px;
  }

  .button-scroll {
    display: none;
  }

  .decorate-text {
    bottom: 60px;
    width: 220px;
    right: 20px;
  }

  .main {
    flex-direction: column;
    padding-top: 60px;
  }

  .main__info-el p {
    font-size: 48px;
    line-height: 54px;
  }

  .main__info-el span {
    font-size: 16px;
    line-height: 24px;
  }

  .main__left {
    width: unset;
    margin: 0 20px 20px;
  }

  .main__right-item:nth-child(2) {
    width: 220px;
    height: 294px;
  }

  .main__right-item:nth-child(1) {
    display: none;
  }

  .about {
    padding: 60px 20px;
  } 

  .about__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .about__list-el {
    gap: 12px;
  }

  .slider-wrapper__info {
    width: unset;
    gap: 12px;
    left: 20px;
    right: 20px;
    top: 60px;
  }

  .packages {
    padding: 60px 20px;
  }

  .packages h2 {
    margin-bottom: 12px;
  }

  .packages__list {
    margin-top: 40px;
  }

  .price-button {
    padding: 18px 20px;
    margin: 0 auto;
  }

  .packages__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .packages-decorate {
    margin-bottom: 12px;
  }

  .packages__list-el .h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .packages__list-el span {
    width: 6px;
    height: 6px;
  }

  .packages__list-el {
    height: 500px;
    padding: 24px;
  }

  .packages-price {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
  }

  .packages__info-el {
    gap: 6px;
    margin-top: 12px;
  }

  .accordeon {
    flex-direction: column;
    padding: 20px;
  }

  .accordion-item.first {
    margin-top: 40px;
  }

  .accordeon .h2 {
    margin-bottom: 12px;
  }

  .accordion-content p {
    padding-bottom: 20px;
  }

  .h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .h3 {
    font-size: 20px;
    line-height: 28px;
  }

  .accordeon__block {
    width: 100%;
  }

  .accordion-header {
    padding: 18px 0;
  }

  .footer__list {
    flex-direction: column;
  }

  .footer__list a {
    padding: 18px;
  }

  .form-block {
    margin-top: 40px;
  }

  .form-block form {
    padding: 0 20px 20px;
    flex-direction: column;
    gap: 8px;
  }

  .form-block form .form-group{
    width: 100%;
    margin: 0 auto;
  }

  .form-block h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .form-block form .form-group input{
    width: 100%;
    margin: 0 auto;
    padding: 18px 12px;
    font-size: 16px;
    line-height: 24px;
  }

  .form-block form .price-button {
    width: 100%;
    padding: 18px 20px;
  }
}